body, nav, section, footer {
	background-color:rgb(0, 10, 24);
	padding: 0;
	margin: 0;
	border: 0;
	color: white;
}

nav, section, footer {
	border: 2px;
	border-left: 0;
	border-right: 0;
	border-color: rgb(10, 20, 34);
	border-style:double;
	padding: 10px;
}

nav {
	background-color: rgb(0, 10, 24);
	min-height: 45px;
	position: sticky;
	top: 0;
	display: flex;
	padding: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	justify-content: center;
}

nav div {
	text-align: center;
	min-width: 5vw;
	border: 0px;
	margin: 0;
	padding: 0;
	padding-top: 11px;
}

nav a {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: none;
	letter-spacing: 2px;
}

a {
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: 0;
	padding-left: 15px;
	padding-right: 15px;
}

div.overlayBlue {
	background: rgba(10, 20, 34, 0.50);
	z-index: 2;
	min-height: 850px;
	overflow: hidden;
}

.s1, .s2, .s3, .s4, .s5 {
	scroll-margin-top: 25px;
}

section.s1 {
	background-color: rgb(10, 20, 34);
	min-height: 850px;
	background-image: url("assets/picture-me.webp");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	border: 0;
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 650px) {
	section.s1, div.overlayBlue {
		min-height: 550px;
	}
}

section.s2 {
	min-height: 600px;
	background-color:rgb(0, 10, 24);
	justify-content: center;
}

section.s3 {
	min-height: 600px;
	background-color: rgb(10, 20, 34);
	border: 0;
}

section.s4 {
	min-height: 600px;
	background-color:rgb(0, 10, 24);
}

section.s5 {
	min-height: 600px;
	background-color: rgb(10, 20, 34);
}

footer {
	min-height: 25px;
	text-align: center;
	border-bottom: 0;
}

h1 {
	font-family: "Courier New", monospace;
	font-size: 6vw;
	text-align: center;
	text-shadow: 
		2px 2px 0 #969696,
		-2px 2px 0 #969696,
		-2px -2px 0 #969696,
		2px -2px 0 #969696;
	padding-top: 12%;
}

p {
	font-family: Tahoma, sans-serif;
}