body, section.image-top, section.section-projects,
div.card-project, div.card-title, h2.card-h2, div.card-image,
img.card-pin, img.card-image-img, div.card-tagbar, h2.tag-h2,
div.card-description, p.card-p, div.div-projects, h1.projects-h1,
nav.navbar, .nav-button, h1.title-top, div.div-education, a,
div.div-top, section.section-education, div.university-desc,
div.year-div, img.uni-img, h2.uni-title, p.uni-desc, p.sem-title,
ol.sem-list, li.sem-li, div.div-sem, div.div-year-noT, h2.sem-titleT {
	border: 0;
	margin: 0;
	padding: 0;
	user-select: none;
}

h1, h2, p, .nav-button, p.sem-title {
	font-family: "Francois One", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

p, a, li {
	font-family: "Ubuntu Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

a.intext-link {
	color: rgb(204, 0, 0);
}

a:hover.intext-link {
	color: rgb(255, 80, 80);
}

a:active.intext-link {
	color: rgb(255, 165, 165);
}

:root {
	--default-border: black;
	--card-background: #FBE9D0;
	--scroll-background: #244855;
	--scroll-dragbar: #90AEAD;
	--card-title-background: #e69e33;
	--card-title-background2:rgb(112, 73, 15);
	--shadow-color: #00000080;
	--navbar-color: #345865;
	--navbar-color-alt: #426b7a;
	--navbar-color-alt2: #2d4e5a;
	--edu-background: #2b5745;
	--edu-background2: #69cca3;
	--edu-background3: #69cca3;

	--card-width: 23dvw;
	--card-height: calc(var(--card-width) * 1.7);
}

::-webkit-scrollbar {
	width: 0.7dvw;
	background: #244855;
}

::-webkit-scrollbar-thumb {
	background: #90AEAD;
	cursor: pointer;
}

nav.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--navbar-color);
	border-bottom: 1px;
	border-style: solid;
	border-color: black;
	position: fixed;
	width: 100dvw;
	top: 0;
	z-index: 10;
}

.nav-button {
	text-decoration: none;
	padding-left: 0.4dvw;
	padding-right: 0.4dvw;
	padding-top: 0.5dvh;
	padding-bottom: 0.5dvh;
	color: white;
	font-size: 1.4dvw;
}

.nav-button:hover {
	background-color: var(--navbar-color-alt);
}

.nav-button:active {
	background-color: var(--navbar-color-alt2);
}

h1.title-top {
	text-align: center;
	color: white;
	font-size: 6dvw;
	filter: drop-shadow(0px 0.9dvw 0.2dvw var(--shadow-color));
}

section.image-top {
	background: linear-gradient(0deg, #00000022 30%, #ffffff11 100%);
	min-height: 95dvh;
	max-height: 95dvh;
	padding-top: 36dvh;
}

div.div-top {
	background-image: url(assets/picture-me.webp);
	background-attachment: fixed;
	background-position:top;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 95dvh;
	max-height: 95dvh;
}

div.div-projects {
	border-top: 1px;
	border-style: solid;
	border-color: var(--default-border);
	background-image: url(assets/pattern1.webp);
	background-size: 10dvw;
}

h1.projects-h1 {
	text-align: center;
	margin-top: 3dvh;
	color: white;
	font-size: 5dvw;
	filter: drop-shadow(0px 0.9dvw 0.2dvw var(--shadow-color));
}

section.section-projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:space-evenly;
}

div.card-project {
	background-color: var(--card-background);
	max-width: var(--card-width);
	min-width: var(--card-width);
	min-height: var(--card-height);
	border: 1px;
	border-style: solid;
	border-color: var(--default-border);
	margin-top: 5dvh;
	margin-bottom: 5dvh;
	filter: drop-shadow(0.7dvw 0.7dvw 0.2dvw var(--shadow-color));
	margin-left: 3dvw;
	margin-right: 3dvw;
	position: relative;
}

img.card-pin {
	display: block;
	position: absolute;
	top: -3dvw;
	right: -1.2dvw;
	width: 4dvw;
}

div.card-title {
	max-width: var(--card-width);
	background-color: var(--card-title-background);
	border-bottom: 1px;
	border-style: solid;
	border-color: var(--default-border);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0.5dvw;
	padding-right: 0.5dvw;
	font-size: 1dvw;
}

h2.card-h2 {
	max-width: var(--card-width);
	text-align: center;
}

div.card-image {
	max-width: var(--card-width);
	max-height: var(--card-width);
}

img.card-image-img {
	max-width: var(--card-width);
}

div.card-tagbar {
	max-width: var(--card-width);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: var(--card-title-background);
	border-bottom: 1px;
	border-style: solid;
	border-color: var(--default-border);
	justify-content: left;
	padding-left: 0.2dvw;
	padding-right: 0.2dvw;
	padding-top: 2px;
	padding-bottom: 2px;
}

h2.tag-h2 {
	font-size: 1.2dvw;
	color: white;
	background-color: var(--card-title-background2);
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 0.3dvw;
	margin-right: 0.2dvw;
	margin-top: 1px;
	margin-bottom: 1px;
}

div.card-description {
	max-width: var(--card-width);
	padding-left: 0.5dvw;
	padding-right: 0.5dvw;
	padding-top: 0.2dvw;
	padding-bottom: 0.2dvw;
}

p.card-p {
	max-width: var(--card-width);
	text-align: justify;
	font-size: 0.95dvw;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.div-education {
	border-top: 1px;
	border-style: solid;
	border-color: var(--default-border);
	background-image: url(assets/pattern2.webp);
	background-size: 10dvw;
}

section.section-education {
	display: grid;
	justify-content: center;
	padding-bottom: 5dvh;
	padding-top: 3dvh;
}

div.university-desc {
	background-color: var(--edu-background);
	min-width: 30dvw;
	max-width: 30dvw;
	grid-column: 1;
	grid-row: 1 / span 2;
	border: 1px;
	border-style: solid;
	border-color: var(--default-border);
	margin-right: 1dvw;
	margin-top: 1dvw;
	filter: drop-shadow(0.7dvw 0.7dvw 0.2dvw var(--shadow-color));
	border-radius: 1dvw;
}

div.year-div {
	background-color: var(--edu-background);
	min-width: 50dvw;
	max-width: 50dvw;
	grid-column: 4;
	border: 1px;
	border-style: solid;
	border-color: var(--default-border);
	margin-top: 1dvw;
	filter: drop-shadow(0.7dvw 0.7dvw 0.2dvw var(--shadow-color));
	display:grid;
	border-radius: 1dvw;
}

img.uni-img {
	max-width: inherit;
	border-bottom: 1px;
	border-style: solid;
	border-color: var(--default-border);
	border-top-left-radius: 1dvw;
	border-top-right-radius: 1dvw;
}

h2.uni-title {
	text-align: center;
	padding: 0.6dvw;
	padding-left: 1dvw;
	padding-right: 1dvw;
	margin-bottom: 0.8dvw;
	font-size: 1.3dvw;
	color: black;
	background-color: var(--edu-background2);
	margin-top: -4px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
}

h2.sem-titleT {
	text-align: center;
	padding: 0.6dvw;
	padding-left: 0.5dvw;
	padding-right: 0.5dvw;
	font-size: 1.3dvw;
	color: black;
	background-color: var(--edu-background2);
	grid-row: 1;
	grid-column: 1 / span 2;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
	border-top-left-radius: 1dvw;
	border-top-right-radius: 1dvw;
}

p.uni-desc {
	text-align: justify;
	padding-left: 1dvw;
	padding-right: 1dvw;
	padding-bottom: 1dvw;
	font-size: 1dvw;
	color: white;
	font-weight: 200;
}

div.div-year-noT {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
}

p.sem-title {
	font-size: 1.3dvw;
	color: black;
	background-color: var(--edu-background3);
	text-align: center;
	padding-top: 0.6dvw;
	padding-bottom: 0.6dvw;	
	padding-left: 0.5dvw;
	padding-right: 0.5dvw;

	border-bottom: 1px;
	border-color: black;
	border-style: solid;
}

div.div-sem.semester2 {
	border-left: 1px;
	border-color: black;
	border-style: solid;
}

ol.sem-list {
	list-style: none;
	height: 100%;
}

li.sem-li {
	font-size: 1dvw;
	color: white;
	font-weight: 200;
	padding-left: 0.7dvw;
	padding-right: 0.7dvw;
	padding-top: 0.4dvw;
	padding-bottom: 0.4dvw;
	text-align: end;
	border-bottom: 0.5px;
	border-color: black;
	border-style: dotted;
}

li.sem-li strong {
	font-weight: 500;
	color: wheat;
	padding-left: 1dvw;
}

li.sem-li.lastsemli {
	border: 0;
	border-style: none;
}

div.edu-rightcol {
	grid-column: 2;
}